header
  h1.logo.text-center
    a(href="./") Webデザイナーから<br>
      | Webエンジニア？になった人のブログ
  nav.navbar.navbar-expand-lg.border-top.border-bottom.navbar-light.nav-text-black.mb-5
    button(type="button")(data-toggle="collapse")(data-target="#navbar")(aria-expanded="false")(aria-label="Toggle navigation").navbar-toggler.collapsed
      span.navbar-toggler-icon
    .collapse.navbar-collapse.justify-content-md-center#navbar
      ul.navbar-nav
        li.nav-item
          a(href="").nav-link 雑記
        li.nav-item
          a(href="").nav-link Java
        li.nav-item
          a(href="").nav-link Heroku
        li.nav-item
          a(href="").nav-link PostgreSQL
        li.nav-item
          a(href="").nav-link SQL